{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-3 thumbnail" style="background-color: #2b669a; font-size: 40px; text-align: center; color: white;">
            {{ object.user }}<br>
        </div>
        <div class="col-sm-9">
            <h2>{{ object.content }}</h2><br>
            <div class="thumbnail">
                <pre style="color: white; background-color: #2b669a;">{{ object.code }}</pre>
                <br>
             {{ object.timestamp|timesince }}
            </div>

        </div>
    </div>

{% endblock content %}