{% extends "base.html" %}

{% block script %}
<script>
    $(document).ready(function () {
        console.log("working");



        $.ajax({
            url:"/api/tweet/",
            method:"GET",
            sucess:function(data) {
                console.log(data)
            },
            error:function(data) {
                console.log("error")
                console.log(data)
            }
        })


    });
</script>
{% endblock script %}

{% block title %}Blogs | {{ block.super }}{% endblock title %}


{% block content %}


<div class="row">
    <div class="col-sm-3 thumbnail" style="background-color: #2b669a; font-size: 40px; text-align: center; color: white;">
        <h1><span class="blink_me">< </span>{{ request.user}} <span class="blink_me">/></span></h1>
    </div>
    <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">
                    <img src="http://127.0.0.1:8000/media/lop.jpg" alt="" class="img-responsive" style="width: 900px; height: 300px;">
                </div>

            </div>
        <hr>
{% for object in object_list %}
    <div class="media">
  <div class="media-left">
    <a href="#">
        {% if object.image %}
      <img class="media-object" src="..." alt="...">
        {% endif %}
    </a>
  </div>
  <div class="media-body thumbnail " style="background-color:white;">
      <h2 style="text-align: center; color: #283E4A;">{{ object.content }}</h2><br>
        <div class="thumbnail">
         <pre style="background-color: #2b669a; color: white;">{{ object.code }}</pre><br>
      via {{ object.user }} | {{ object.timestamp | timesince }} ago | <a href="{{ object.get_absolute_url }}">View</a>
        </div>

  </div>
</div>
<hr>
{% empty %}
    {% if request.GET.q %}
        <p>No blogs Found.</p>
    {% else %}
        <p>No blogs yet.</p>
    {% endif %}
{% endfor %}
    </div>
</div>
{% endblock content %}